/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

/*variables*/
:root {
	--clr-light: rgb(167, 168, 232);
	--clr-primary: rgb(78, 80, 210);
	--clr-primary-dark: rgb(62, 64, 168);
	--clr-light-gray: rgb(81, 91, 96);
	--clr-dark-gray: rgb(38, 50, 56);
}

/* RESETTING DEFAULTS */
*, 
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}


/* utility classes */
.star {
	width: 5px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: whitesmoke;
	position: absolute;
	opacity: 0.7;
	z-index: 0;
	/* animation: stars 3s infinite; */
}
@keyframes stars {
	to {
		left: -5%;
	}
}
.card {
	box-shadow: 0 0 0.8em 0 rgba(167, 168, 232, 0.5)
}
.bold-text {
	font-weight: bold;
}
.btn {
	padding: 1rem;
	transition: color 300ms ease-in-out;
	position: relative;
	z-index: 1;
}
.btn::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 50%;
	opacity: 0;
	transition: all 300ms ease-in-out;
}
.btn:hover {
	color: white;
}
.btn:hover::before {
	left: 0;
	right: 0;
	opacity: 1;
}
.primary-btn {
	color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
}
.primary-btn::before {
	background-color: var(--clr-primary);
}
.dark-btn {
	color: var(--clr-dark-gray);
	border: 1px solid var(--clr-dark-gray);
}
.dark-btn::before {
	background-color: var(--clr-dark-gray);
}

.container {
	padding-top: 2rem;
}
a.btn {
	display: inline-block;
}

/* general */
*:not(i) {
	font-family: 'Source Sans Pro', sans-serif;
}
body {
	color: var(--clr-dark-gray);
	font-size: 18px;
}
section:not(#home) {
	padding-bottom: 4rem;
}
h2 {
	color: var(--clr-primary);
	font-size: 1.8em;
}

/*navigation bar*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	background-color: var(--clr-dark-gray);
	z-index: 999;
}

nav ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: max-content;
	margin: 0 auto;
	padding: 1rem 0;
}

.nav-link {
	font-size: 1em;
	color: white;
	transition: color 200ms ease-in-out;
}
.nav-link:hover {
	color: var(--clr-primary);
}


/* main content */
section {
	padding-top: 4rem;
}

section > h2 {
	margin: 0 auto;
	width: max-content;
	position: relative;
}

section:not(#home) > .container {
	width: min(100% - 4rem, 1200px);
	margin: 0 auto;
}


/* HOME SECTION */
#home {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	background-color: var(--clr-dark-gray);
	position: relative;
}
#home .container {
	height: max-content;
}
#home h1 {
	font-size: 20vmin;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;

	/* background-image: linear-gradient(90deg, var(--clr-primary), var(--clr-primary-dark));
	background-clip: text; */
	color: var(--clr-primary);
}
#home h2 {
	font-size: 6vmin;
}
#home h1,
#home h2 {
	text-shadow: 2px 2px 5px rgb(81, 91, 96);
	position: relative;
	z-index: 2;
}
.down-scroll {
	font-size: 2em;
	color: var(--clr-primary);
	position: absolute;
	z-index: 2;
	bottom: 5%;
	left: calc(50% - 1ch);
	transition: all 100ms ease-in-out;
}
.down-scroll:hover {
	opacity: 0.5;
	transform: scale(1.1);
}


/* ABOUT SECTION */
#about > .container {
	display: grid;
	padding-bottom: 2rem;
}

#about .inner-container {
	text-align: center;
	line-height: 1.5;
}
#about .inner-container p:last-of-type {
	margin-bottom: 2rem;
}

/* SKILLS SECTION */
#skills {
	/* padding-bottom: 4rem; */
	background-color: var(--clr-light);
}
#skills h2 {
	color: var(--clr-dark-gray);
}
#skills .container {
	width: min(100%, 800px);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	row-gap: 1rem;
	flex-wrap: wrap;
	padding-bottom: 2rem;
}

#skills .card {
	background-color: var(--clr-dark-gray);
	box-shadow: 0 10px 1em 0 rgb(78, 80, 210);
	font-size: 1.3em;
	color: white;
	width: max-content;
	padding: 3rem;
	border-radius: 1.5em;
}
#skills .card-title {
	text-align: center;
	border-bottom: 1px solid var(--clr-light);
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}
#skills li:nth-child(n + 1) {
	margin-top: 0.5em;
}
#skills i {
	width: 2em;
	text-align: center;
}
#skills li {
	cursor: pointer;
	transition: color 300ms ease-in-out;
}
#skills li:hover {
	color: var(--clr-primary);
}

/* PROJECTS SECTION */
#projects > h3 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
}
#projects .container p > a {
	color: var(--clr-primary);
}
#projects .container p > a:hover {
	text-decoration: underline;
}
#projects > p {
	padding: 2rem;
	padding-top: 0;
}
.projects-container {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}
.projects-container .card {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	border-radius: 10px;
	/* border: 1px solid red; */
	overflow: hidden;
}
.card .btn {
	padding: 0.5rem;
}
.projects-container .card h3,
.projects-container .card p,
.projects-container .card .btns-container {
	padding-inline: 1rem;
}
.projects-container .card p {
	margin-top: 1rem;
	font-size: 0.9em;
}
.projects-container .card .btns-container {
	width: 100%;
	text-align: right;
	margin-top: auto;
	padding-block: 2rem 1rem;
}



/* CONTACT SECTION */
#contact {
	background-color: var(--clr-light);
}
#contact h2 {
	color: var(--clr-dark-gray);
}

#contact .btn:hover {
	color: white;
}
#contact .container {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}


/* FOOTER */
footer {
	background-color: var(--clr-dark-gray);
	color: white;
	text-align: center;
	font-size: 0.8em;
	padding: 1em;
	/* margin-top: 2rem; */
}


/* FOR WIDER SCREENS */
@media (min-width: 840px) {
	#home {
		padding-left: 1rem;
	}

	#about > .container {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	#about .inner-container {
		text-align: left;
		padding-right: 2rem;
	}

	#skills .card {
		font-size: 1.5em;
	}
}