/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


/*variables*/
:root {

}

/* RESETTING DEFAULTS */
*, 
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}


/* utility classes */
.bold-text {
	font-weight: bold;
}
.btn {
	padding: 1rem;
	border: 1px solid black;
	color: black;
	transition: color 300ms ease-in-out;
	position: relative;
	z-index: 1;
}
.btn::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 50%;
	background-color: black;
	opacity: 0;
	transition: all 300ms ease-in-out;
}
.btn:hover {
	color: white;
}
.btn:hover::before {
	left: 0;
	right: 0;
	opacity: 1;
}
.container {
	padding-top: 2rem;
}


/*navigation bar*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	background-color: black;
	z-index: 999;
}

nav ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: max-content;
	margin: 0 auto;
	padding: 1rem 0;
}

.nav-link {
	color: white;
}
.nav-link:hover {
	text-decoration: underline;
}


/* main content */
section {
	padding-top: 4rem;
}

section > h2 {
	margin: 0 auto;
	width: max-content;
	position: relative;
}

section:not(#home) > .container {
	width: min(100% - 4rem, 1200px);
	margin: 0 auto;
}


/* HOME SECTION */
#home {
	height: 100vh;
	display: flex;
	align-items: center;
}
#home .container {
	height: max-content;
}
#home h1 {
	font-size: 12vmin;
}
#home h2 {
	font-size: 6vmin;
}
.down-scroll {
	font-size: 2em;
	color: black;
	position: absolute;
	bottom: 5%;
	left: calc(50% - 1ch);
	transition: all 100ms ease-in-out;
}
.down-scroll:hover {
	opacity: 0.5;
	transform: scale(1.1);
}


/* ABOUT SECTION */
#about > .container {
	display: grid;
	padding-bottom: 2rem;
}

#about .inner-container {
	text-align: center;
	line-height: 1.5;
}
#about .inner-container p:last-of-type {
	margin-bottom: 2rem;
}

/* SKILLS SECTION */
#skills {
	padding-bottom: 2rem;
}
#skills .container {
	width: min(100%, 800px);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	row-gap: 1rem;
	flex-wrap: wrap;
}

#skills .card {
	background-color: rgb(17, 15, 15);
	font-size: 1.3em;
	color: white;
	width: max-content;
	padding: 3rem;
	border-radius: 1.5em;
}
#skills .card-title {
	text-align: center;
	border-bottom: 1px solid white;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}
#skills i {
	width: 2em;
	text-align: center;
}


/* PROJECTS SECTION */
#projects h3 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
}
#projects a {
	color: black;
	text-decoration: underline;
}
#projects p {
	padding: 2rem;
	padding-top: 0;
}


/* CONTACT SECTION */
#contact .container {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}


/* FOOTER */
footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 0.8em;
	padding: 1em;
	margin-top: 2rem;
}


/* FOR WIDER SCREENS */
@media (min-width: 840px) {
	#home {
		padding-left: 1rem;
	}

	#about > .container {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	#about .inner-container {
		text-align: left;
		padding-right: 2rem;
	}

	#skills .card {
		font-size: 1.5em;
	}
}