@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-remaining {
  height: calc(100vh - 4rem);
}

.section-wrapper > * {
  z-index: 1;
  position: relative;
}

@layer components {
  .section-wrapper {
    @apply py-16 lg:px-16 md:px-8 px-8 text-white z-10;
  }
  .section-heading {
    @apply text-4xl pb-4 border-b-8 border-primary-400 w-fit bg-dark;
  }

  .options-container > div > label {
    @apply py-1 px-2 bg-white text-dark font-medium rounded-2xl cursor-pointer;
  }
  .options-container > div > input:checked + label {
    @apply bg-primary-400;
  }
}