---
import Layout from "../layouts/Layout.astro";
import background from "../assets/background.svg";
import data from "../assets/data.json";
---

<Layout>
	<div id="container">
		<img
			src={background.src}
			alt=""
			fetchpriority="high"
			class="fixed inset-0 z-[-1] blur-[100px]"
		/>

		<div
			class="py-8 md:py-16 lg:py-24 xl:py-36 px-4 md:px-8 lg:px-12 xl:px-16"
		>
			<main
				class="max-w-5xl mx-auto text-base lg:text-lg flex flex-col gap-4"
			>
				<h1 class="text-lg lg:text-2xl">{data.header}</h1>
				<p>{data.shortDescription}</p>
			</main>
		</div>
	</div>
</Layout>

<style>
	#container {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
	}
</style>
